{% extends "base.html" %}
{% block title %}Admin Automations{% endblock %}
{% block content %}
   <div class="w-9/12 flex flex-col">
      <div class="hidden justify-center items-center bg-gray-900/40 h-full w-full top-0 left-0" id="Success_Response">
         <div class="bg-white max-w-2xl border-2 flex flex-col items-center border-[rgb(74,222,128)] h-fit p-24 rounded-md">
            <img src="../static/images/garrapata.png" 
            class="w-40 h-40"
            alt="">
            <h2 class="text-center text-3xl font-bold mt-8">Success!</h2>
            <h3 class="mt-2">The automation ran Succesfully please refresh the page</h3>
         </div>   
      </div>
      <div class="hidden justify-center items-center bg-gray-900/40 h-full w-full top-0 left-0" id="Failed_Response">
         <div class="bg-white max-w-2xl border-2 flex flex-col items-center border-[rgb(74,222,128)] h-fit p-24 rounded-md">
            <img src="../static/images/error.png" 
            class="w-40 h-40"
            alt="">
            <h2 class="text-center text-3xl font-bold mt-8">Error</h2>
            <h3 class="mt-2 text-center">There was an error when running the automation, please try again or contact me if it doesn't work</h3>
         </div>   
      </div>
      <h1 class="text-5xl font-extrabold">Admin Automations</h1>
      {%for automation in automations_list%}
         <div class="w-full flex flex-col justify-evenly mt-14 p-6 rounded-md bg-white h-fit mb-3 border-[#302E2E] border-2">
            <div class="w-full flex justify-between">
                <h1 class="text-2xl font-bold">{{automation.Title.replace('-', ' ')}}</h1>
                 <div class="w-2/5 flex justify-end">
                     <button 
                     onclick="runtest(document.getElementById('URL_{{automation.automation_id}}').value, '{{automation.Title}}', '{{automation.automation_id}}')"
                     id="run_automation"
                     class="bg-[#4ADE80] w-1/4 flex justify-center items-center font-semibold rounded-lg h-10">
                         <img class="w-6 h-6" id="play_btn_{{automation.automation_id}}" src="../static/images/boton-de-play.png" alt="">
                         <img class="w-6 h-6 hidden" id="pause_btn_{{automation.automation_id}}" src="../static/images/boton-de-pausa.png" alt="">
                     </button>
                 </div>
            </div>
            <ul class="list-disc">
               {%for sub in automation['Subtitles']%}
                 <li class="my-5 ml-5">{{sub}}</li>
               {% endfor %}
            </ul>
            <div class="flex flex-col items-center w-full">
                 {%for requirement in automations_list[0]['Requirements']%}
                     <div class="flex w-full">
                        <input 
                        id="{{ requirement.Label }}_{{automation.automation_id}}" placeholder="{{ requirement.Label }}" name="{{ app_name }}-input" 
                        class="w-full border-[1px] border-solid border-[#302E2E]/50 font-light h-[40px] px-6 py-5 rounded-lg mt-2" 
                        type="{{ requirement.Type }}"
                        >
                     </div>
                 {%endfor%}
               </div>
         </div>
      {% endfor %}
   </div>
   
   <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
   <script>
      function runpolling(){
         automation_started = true
         pollAutomationStatus()
      }
      function runtest(url, automation, automation_id){
        document.getElementById('play_btn_' + automation_id).classList.add('hidden')
        document.getElementById('pause_btn_' + automation_id).classList.add('flex')
        document.getElementById('pause_btn_' + automation_id).classList.remove('hidden')
        fetch(`/admin/${automation}`,{
            method: 'POST',
            headers: {'Content-Type':'application/json'},
            body: JSON.stringify({url: url})
        })
        .then(res => res.json()) 
        .then(data => console.log(data))
        runpolling()
      }
      async function pollAutomationStatus(){
         const response = await fetch(`/check-automation-status`);
         const json_response = await response.json();
         if (json_response.Status === "Success") {
            document.getElementById('Success_Response').classList.remove('hidden')
            document.getElementById('Success_Response').classList.add('absolute')
            document.getElementById('Success_Response').classList.add('flex')
        }else if(json_response.Status === "Failed"){
            console.log(json_response)
            document.getElementById('Failed_Response').classList.remove('hidden')
            document.getElementById('Failed_Response').classList.add('absolute')
            document.getElementById('Failed_Response').classList.add('flex')
         } 
         else {
             await new Promise(resolve => setTimeout(resolve, 10000))
             pollAutomationStatus()
         }
      }
      
   </script>
{% endblock %}