{% extends "base.html" %}
{% block title %}Admin Automations{% endblock %}
{% block content %}
   <div class="w-9/12">
      <h1 class="text-5xl font-extrabold">Admin Automations</h1>
      {%for automation in automations_list%}
         {%if automation['Enabled']%}
            <div class="w-full flex flex-col justify-evenly mt-14 p-6 rounded-md bg-white h-fit mb-3 border-[#302E2E] border-2">
               <div class="w-full flex justify-between">
                   <h1 class="text-2xl font-bold">{{automation.Title.replace('-', ' ')}}</h1>
                    <div class="w-2/5 flex justify-end">
                        <h1 id="automation_failed" class="text-xl font-semibold hidden ml-7">Ups something went wrong</h1>
                        <button 
                        onclick="runtest(document.getElementById('URL').value, '{{automation.Title}}')"
                        id="run_automation"
                        class="bg-[#4ADE80] w-1/4 flex justify-center items-center font-semibold rounded-lg h-10">
                            <img class="w-6 h-6" id="play_btn" src="../static/images/boton-de-play.png" alt="">
                            <img class="w-6 h-6 hidden" id="pause_btn" src="../static/images/boton-de-pausa.png" alt="">
                        </button>
                        <h1 id="automation_succeded" class="text-xl font-semibold hidden">Success!</h1>
                    </div>
               </div>
               <ul class="list-disc">
                  {%for automation in automations_list[0]['Subtitles']%}
                    <li class="my-5 ml-5">{{automation}}</li>
                  {% endfor %}
               </ul>
               <div class="flex flex-col items-center w-full">
                    {%for requirement in automations_list[0]['Requirements']%}
                        <div class="flex w-full">
                           <input 
                           id="{{ requirement.Label }}" placeholder="{{ requirement.Label }}" name="{{ app_name }}-input" 
                           class="w-full border-[1px] border-solid border-[#302E2E]/50 font-light h-[40px] px-6 py-5 rounded-lg mt-2" 
                           type="{{ requirement.Type }}"
                           >
                        </div>
                    {%endfor%}
                  </div>
               </div>
            </div>
         {% endif %}
      {% endfor %}
   </div>
   
   <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
   <script>
      function runpolling(){
         automation_started = true
         pollAutomationStatus()
     }
      function runtest(url, automation){
        document.getElementById('play_btn').classList.add('hidden')
        document.getElementById('pause_btn').classList.add('flex')
        document.getElementById('pause_btn').classList.remove('hidden')
        fetch(`/admin/${automation}`,{
            method: 'POST',
            headers: {'Content-Type':'application/json'},
            body: JSON.stringify({url: url})
        })
        .then(res => res.json()) 
        .then(data => console.log(data))
        runpolling()
      }
      async function pollAutomationStatus(){
         const response = await fetch(`/check-automation-status`);
         const json_response = await response.json();
         if (json_response.Status === "Success") {
            document.getElementById('automation_succeded').classList.remove('hidden')
            document.getElementById('run_automation').classList.add('hidden')
        }else if(json_response.Status === "Failed"){
            console.log(json_response)
            document.getElementById('automation_failed').classList.remove('hidden')
            document.getElementById('run_automation').classList.add('hidden')
         } 
         else {
             await new Promise(resolve => setTimeout(resolve, 10000))
             pollAutomationStatus()
         }
      }
      
   </script>
{% endblock %}