{% extends "base.html" %}
{% block title %}App Automations{% endblock %}
{% block content %}
   <div class="w-9/12">
    <h1 class="text-5xl font-extrabold">Application Automations</h1>
   </div>
   <div class="w-9/12 h-full mt-12 flex">
        <div class="col-span-2 bg-[#302E2E] rounded-[3px] w-5/12">
            {%for value in categories%}
                <a href="/applications/{{value}}">
                    <h1 class="text-white text-xl font-medium cursor-pointer py-3 px-6 hover:bg-[#4ADE80] hover:text-[#302E2E]">
                        {{ value }}
                    </h1>
                </a>
            {%endfor%}
        </div>
        <div class="w-full">   
            <!-- >
                Future input filter
                <input
                    placeholder="Search automation..." 
                    class="font-medium focus:outline-none ml-10 mb-2 px-6 w-full border-solid border-[1px] border-[#302E2E] rounded-sm bg-white h-10"
                >
            -->
            {% for automation in automations %}
                <a class="w-full" href="/run-automation/{{automation.Title}}">
                    <div class="w-full cursor-pointer ml-10 p-6 rounded-md bg-white h-fit mb-3 hover:border-[#302E2E] border-[2px] hover:bg-[#4ADE80]">
                        <h1 class="text-2xl font-bold">{{ automation.Title.replace('-', ' ') }}</h1>
                        <ul class="list-disc">
                            {% for sub in automations[0]['Subtitles']%}
                                    <li class="mt-3 ml-5">{{sub}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                </a>
            {%endfor%}
        </div>
   </div>
{% endblock %}
