{% extends "base.html" %}
{%block title%}Automations{% endblock %}

{%block content%}
    <div class="flex items-center justify-evenly w-1/2">
        <img class="w-[153px] h-[153px]" src="../static/images/robot.png">
        <h1 class="text-5xl font-extrabold">Hello Vanessa!</h1>
    </div>
    <div class="w-10/12 justify-items-center gap-10 grid grid-cols-3 grid-flow-row mt-11">
        <div class="w-[402px] h-[224px] bg-white rounded-md shadow-md flex flex-col justify-evenly px-8 py-11 hover:border-solid hover:border-green-700 hover:border-[2px] cursor-pointer">
            <img class="w-14" src="../static/images/visa(1).png">
            <h2 class="font-semibold text-3xl">Guided Entry</h2>
        </div>
        <div onclick="window.location.replace('http://127.0.0.1:5000/weekly')" class="w-[402px] h-[224px] bg-white rounded-md shadow-md flex flex-col justify-evenly px-8 py-11 hover:border-solid hover:border-green-700 hover:border-[2px] cursor-pointer">
            <img class="w-14" src="../static/images/enojado.png">
            <h2 class="font-semibold text-3xl">Weekly</h2>
        </div>
        <div onclick="window.location.replace('http://127.0.0.1:5000/applications')" class="w-[402px] h-[224px] bg-white rounded-md shadow-md flex flex-col justify-evenly px-8 py-11 hover:border-solid hover:border-green-700 hover:border-[2px] cursor-pointer">
            <img class="w-14" src="../static/images/visa.png">
            <h2 class="font-semibold text-3xl">Visa Applications</h2>
        </div>
        <div class="w-[402px] h-[224px] bg-white rounded-md shadow-md flex flex-col justify-evenly px-8 py-11 hover:border-solid hover:border-green-700 hover:border-[2px] cursor-pointer">
            <img class="w-14 " src="../static/images/administracion.png">
            <h2 class="font-semibold text-3xl">Admin portal</h2>
        </div>
        <div class="w-[402px] h-[224px] bg-white rounded-md shadow-md flex flex-col justify-evenly px-8 py-11 hover:border-solid hover:border-green-700 hover:border-[2px] cursor-pointer">
            <img class="w-14 " src="../static/images/objetivo.png">
            <h2 class="font-semibold text-3xl">Embassy Reg</h2>
        </div>
        <div class="w-[402px] h-[224px] bg-white rounded-md shadow-md flex flex-col justify-evenly px-8 py-11 hover:border-solid hover:border-green-700 hover:border-[2px] cursor-pointer">
            <img class="w-14 " src="../static/images/pasaporte.png">
            <h2 class="font-semibold text-3xl">Passport</h2>
        </div>
    </div>
{% endblock %}