{% extends "base.html" %}
{% block title %}App Automations{% endblock %}
{% block content %}
    <div class="w-9/12 my-6 mb-20">
        <h1 id="main_title" class="text-5xl font-extrabold">{{ app_name.replace('-', ' ') }}</h1>
    </div>
    <div id="set_variables" class=" w-9/12 h-fit py-16 px-16 rounded-md items-center bg-white border-[1px] border-solid border-[#4ADE80]">
        <div class="h-fit grid grid-cols-3 items-center gap-y-4 gap-x-5">
            {%for requirement in requirements%}
                    {%if loop.index == 1%}
                        <div class="w-full col-start-1 col-end-4">
                            <h2 class="text-xl font-semibold">{{ requirement.Label }}</h2>
                            <p id="lastCharacterRemove" class="hidden text-red-400">Please remove the / at the end</p>
                            <input 
                            onchange="checkLastCharacter(this.value)"
                            id="{{ requirement.Label }}" name="{{ app_name }}-input" 
                            class="w-full border-[1px] border-solid border-[#302E2E]/50 font-light h-[40px] px-6 py-5 rounded-lg mt-2" 
                            type="{{ requirement.Type }}">
                        </div>
                    {%else%}
                        <div class="w-full">
                            <h2 class="text-xl font-semibold">{{ requirement.Label }}</h2>
                            {%if requirement.Label == 'Status'%}
                                    <select 
                                    id="{{ requirement.Label }}"
                                    name="{{ app_name }}-input"
                                    class="w-full border-[1px] border-solid bg-white px-6 border-[#302E2E]/50 font-light h-[42px] rounded-lg mt-2" >
                                        {%for status in status%}
                                            <option>{{status}}</option>
                                        {%endfor%}
                                    </select>
                            {%else%}
                                <input 
                                id="{{ requirement.Label }}" name="{{ app_name }}-input" 
                                class="w-full border-[1px] border-solid border-[#302E2E]/50 font-light h-[40px] px-6 py-5 rounded-lg mt-2" 
                                type="{{ requirement.Type }}"
                                >
                            {%endif%}
                        </div>
                    {%endif%}
             {%endfor%}
            <div class="w-full">
                <h2 class="text-xl font-semibold">N. Orders</h2>
                <input 
                   id="N. Orders" name="{{ app_name }}-input" 
                   class="w-full border-[1px] border-solid border-[#302E2E]/50 font-light h-[40px] px-6 py-5 rounded-lg mt-2" 
                   type="Number"
                   
                   >
            </div>
            <div class="w-full">
                <h2 class="text-xl font-semibold">Applicants</h2>
                <input 
                onchange="this.value > 6 ? alert('Please Enter less than 7 applicants') : this.value"
                id="Applicants" name="{{ app_name }}-input" 
                class="w-full border-[1px] border-solid border-[#302E2E]/50 font-light h-[40px] px-6 py-5 rounded-lg mt-2" 
                type="Number"
                max="7">
            </div>
            <button class="bg-[#4ADE80] mt-8 w-[200px] col-start-1 col-end-1 font-semibold rounded-lg h-[40px]" onclick="run_test('{{goto}}' ,location.pathname.split('/')[2])">RUN</button>
        </div>
    </div>
    <div id="automation_running" class="hidden bg-[#302E2E]/50 top-0 w-full h-screen">
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-4/6 px-11 max-w-[1000px] bg-white h-1/2 max-h-[500px] border-2 border-solid border-[#302E2E] rounded-lg">
                <div class="flex justify-between items-center h-full">
                    <div class="flex flex-col w-2/4">
                        <div class="flex justify-evenly"> 
                            <h2 class="text-[32px] font-semibold text-center mb-5">Running automations</h2>
                            <img class="w-12 h-12 animate-spin" src="../static/images/loading.png">
                        </div>
                        <p class="text-xl font-medium text-center mb-5">(This is going to take a while so go ahead and make yourself a coffee while you wait)</p>
                        <p class="text-center">Sometimes the automation finishes but the response takes time to get to us, you can login to the email with this password and check the progress</p>
                        <ul class="flex justify-evenly mt-4">
                            <div>
                                <li class="font-semibold">Email:</li>
                                <li id="user_email_status"></li>
                            </div>
                            <div>
                                <li class="font-semibold">Password:</li>
                                <li>testivisa5!</li>
                            </div>
                        </ul>
                    </div>
                    <div class="w-2/6 max-w-[290px]">
                        <div class="tenor-gif-embed relative left-2" data-postid="13657985" data-share-method="host" data-aspect-ratio="1" data-width="100%">
                            <a href="https://tenor.com/view/coffee-cup-of-coffee-drinking-coffee-pusheen-tea-time-gif-13657985">Coffee Cup Of Coffee Sticker</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div id="automation_failed" class="hidden bg-[#302E2E]/50 top-0 w-full h-screen">
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-fit bg-white h-fit border-2 border-solid border-[#302E2E] rounded-lg">
                <div class="flex flex-col justify-evenly p-9  items-center h-full">
                    <h2 class="text-[32px] font-semibold text-center mb-8">There was an error</h2>
                    <div class="w-full relative h-full">
                        <h2 
                        onclick="document.getElementById('automation_failed').classList.add('hidden')"
                        class="text-[18px] font-semibold cursor-pointer absolute bottom-16 right-0">
                            X
                        </h2>
                    </div>
                    <div class="flex w-full justify-between items-center">
                        <div class="w-1/2 ml-12">
                            <p class="text-xl font-medium text-center">There could be a couple of reasons why:</p>
                            <ul class="text-base font-normal text-center list-disc" >
                                <li class="my-4">If no orders where made please check that the URL is correct and is available</li>
                                <li class="my-4" >Network error: Please try to run the automation again with a different email</li>
                                <li class="my-4">You used an email that already has an account, please try again with another account</li>
                            </ul>
                        </div>
                        <div class="tenor-gif-embed w-[10px] h-[200px] m-0" data-postid="8085108947907151027" data-share-method="host" data-aspect-ratio="1.04622" data-width="40%">
                            <a href="https://tenor.com/view/%E3%81%82-gif-8085108947907151027">あ GIF</a>from <a href="https://tenor.com/search/%E3%81%82-gifs">あ GIFs</a>
                        </div>
                    </div>      
                    <div>
                        <p class="text-center">If nothing of the above works then contact me so i can check if something is wrong</p>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
    <div id="automation_results" class="w-9/12 h-fit hidden">
        <div class="w-full bg-white h-fit flex justify-between px-12 py-8 rounded-xl border-solid border-[#4ADE80] border-2 ">
            <div class="w-2/6 h-full">
                <h2 class="text-2xl font-bold">Credentials</h2>
                <div class="w-full mt-5">
                    <div class="flex w-full justify-between">
                        <p class="mb-6">Log in Email:</p>
                        <p name="user_email"></p>
                    </div>
                    <div class="flex w-full justify-between">
                        <p>Password:</p>
                        <p>testivisa5!</p>
                    </div>
                </div>
            </div>
            <div class="flex w-2/5 justify-between">
                <div name="user_order_type" class="flex flex-col">
                    <h2 class="text-2xl font-bold mb-5">Automations Ran</h2>
                </div>
                <div name="user_order_status">
                    <h2 class="text-2xl font-bold mb-5">Status</h2>
                </div>
            </div>
        </div>
    </div>
   <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
   <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
   <script>
    let automation_started = false
    let automation_status = false
    function runpolling(){
        automation_started = true
        pollAutomationStatus()
    }
    function checkLastCharacter(value){
        if (value[value.length - 1] === '/'){
            document.getElementById('lastCharacterRemove').classList.remove('hidden')
            document.getElementById('lastCharacterRemove').classList.add('content')
        } else {
            document.getElementById('lastCharacterRemove').classList.add('hidden')
            document.getElementById('lastCharacterRemove').classList.remove('content')
        }

    }
    function run_test(url,value){
        const inputs = document.getElementsByName(`${value}-input`)
        const variables = []
        for(let i = 0; i < inputs.length; i++){
            const values = {
                type : inputs[i].id,
                value : inputs[i].value
            }
            variables.push(values)
        }
        runpolling()
        automation_started = true;
        document.getElementById('automation_running').classList.remove('hidden')
        document.getElementById('automation_running').classList.add('absolute')
        document.getElementById('user_email_status').textContent = variables.filter((value) => value.type === 'Email')[0].value
        
        fetch(`/run-automation/${value.split('%20').join(' ')}`,{
            method: 'POST',
            headers: {'Content-Type':'application/json'},
            body: JSON.stringify(variables)
        })
        .then(res => res.json()) 
        .then(data => console.log(data))
    }
    async function pollAutomationStatus(){
        try{
            const response = await fetch(`/check-automation-status`);
            const json_response = await response.json()
            if (json_response.Status === "Success") {
                console.log(json_response)
                document.getElementById('set_variables').classList.add('hidden')
                document.getElementById('automation_running').classList.add('hidden')
                document.getElementById('automation_results').classList.remove('hidden')
                document.getElementById('automation_results').classList.add('content')
                document.getElementById('main_title').textContent = 'Automation Ran Successfully'
                document.getElementsByName('user_email')[0].textContent = json_response.email
                const order_container = document.getElementsByName('user_order_type')[0]
                const order_status_container = document.getElementsByName('user_order_status')[0]
                for(let i = 0; i < json_response.Order_numbers.length; i++){
                    const order_title = document.createElement('p')
                    const order_status = document.createElement('p')
                    order_title.textContent = 'Order Created ' + json_response.Order_numbers[i][0]
                    order_title.classList.add('text-center', 'mb-5')
                    order_status.textContent = json_response.order_status
                    order_status.classList.add('text-center', 'mb-5')
                    order_container.append(order_title)
                    order_status_container.append(order_status)
                }
            }else if(json_response.Status === "Failed"){
                console.log(json_response)
                document.getElementById('set_variables').classList.add('hidden')
                document.getElementById('automation_running').classList.add('hidden')
                document.getElementById('automation_failed').classList.remove('hidden')
                document.getElementById('automation_failed').classList.add('absolute')
                document.getElementById('automation_results').classList.remove('hidden')
                document.getElementById('automation_results').classList.add('content')
                document.getElementById('main_title').textContent = 'Automation Failed'
            } 
            else {
                await new Promise(resolve => setTimeout(resolve, 10000))
                pollAutomationStatus()
            }
        }catch(err){
            console.log('There was an error while polling', err)
        }
    }

    //function run_test(){
    //    fetch(`https://deploy-20240711--086a1fb5.visachinaonline.com/mobile_api/product/10840/product_questions`,{
    //        method: 'POST',
    //        headers: {
    //            'mobile-app-version':'4.5.5',
    //            'Device-OS-Version':'13',
    //            'Device-Platform':'ios',
    //            'Cookie':'remember_web_59ba36addc2b2f9401580f014c7f58ea4e30989d=1693eyJpdiI6IjRnRjFyeUpBb2x1ZkYyeVJzV0J6d3c9PSIsInZhbHVlIjoiMnc3TGtYbmlvbnZ3KzFmSFAzSm4waUY2WWptSkJtMERCM2FPWjA2aFlGYUNrQ1JZandZYW9NRTZKRnEyZWVJRWY0UlQwNGYrMjFTY3d5aGVXNjFta0ZjeFFNVFVjaFdQZE1DVVRSb1BVdkd1WEVwc09qSzAwUk92a2VuaW1MZml2c1JBRVJxUzVSREhFM0J0WjRPQzI1cVgxVzRWeTQvZWdxanNybGVEam4wcW9WcHhXQU1xa3NySHR6RHFrbzUxak5JS0hyK1NlNzArKzVaY2NWOWdVNVZoSU9FVGdoSklLbHFTVU1GMm90QT0iLCJtYWMiOiJlMjQ4MmFiYTgyMWFlODY5YzFlZmRhYWRhYzA2ZDE3YzQ4NWVkZGM1OTdhZTYyOWE5NTY0YzVhZjhmMmUxNDZiIiwidGFnIjoiIn0=',
    //            'mobile-app-type':'visa',
    //            'Accept':'application/json'
    //        }
    //    }).then((res) => res.json())
    //    .then((data) => {
    //        const val = Object.values(data.questions)
    //        const filter_step1 = val.filter(val => val.multipart_section === 'step_3a')
    //        console.log(filter_step1)
    //    })
    //}
    </script>
{% endblock %}




