{% extends "base.html" %}
{% block title %}Weekly Automations{% endblock %}
{% block content %}
   <div class="w-9/12">
      <h1 class="text-5xl font-extrabold">Weekly Automations</h1>
      {%for automation in automations_list%}
         {%if automation['Enabled']%}
            <div class="w-full flex flex-col justify-evenly cursor-pointer mt-14 p-6 rounded-md bg-white h-fit mb-3 border-[#302E2E] border-2">
               <h1 class="text-2xl font-bold">{{automation.Title}}</h1>
               <ul class="list-disc">
                  {%for automation in automations_list[0]['Subtitles']%}
                    <li class="my-5 ml-5">{{automation}}</li>
                  {% endfor %}
               </ul>
               <div class="flex items-center justify-between">
                 <input 
                    id="URL"
                    placeholder="URL"
                    class="w-3/4 outline-none border-[1px] border-solid border-[#302E2E]/50 font-light h-[40px] px-6 py-5 rounded-lg" 
                    type="text"
                    >
                 <button class="bg-[#4ADE80] w-52 col-start-1 col-end-1 font-semibold rounded-lg h-10">RUN</button>
               </div>
            </div>
         {% endif %}
      {% endfor %}
   </div>
{% endblock %}